body{
    margin: 0;
    font-family: 'Inter';
/*      background: url("../images/background.svg")center no-repeat;*/
/*  -webkit-background-size: cover;*/
/*  background-size: cover;*/
    background-color: #141414;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Container */
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__logo{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 600;
    user-select: none;
    text-align: center;
    padding-left: 20px;
    -webkit-user-select: none;
}
.header__inner{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo > span{
    color: #FF9900;
}

/*navbar*/

.nav{
    padding-right: 82px;
    font-size: 24px;
    display: contents;
}

.nav__link{
    color: #A8A8A8;
    text-decoration: none;
    transition: color .2s linear;
    font-size: 24px;
    font-weight: 500;
    /* padding-left: 143px; */
    user-select: none;
    -webkit-user-select: none;
}
.nav__link:hover{
    color: #FFFFFF;
}

/*intro*/

.intro{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.intro__inner{
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
/*    padding-top: 207px;*/
}
.intro__inner:before{
    content: '';
    display: block;
    width: 30px;
    height: 245px;
/*  margin: 300px auto 0;*/
    color: #fff;
}
.intro__title{
    font-size: 64px;
    color: #FFFFFF;
    line-height: 77.45px;
    font-weight: 600;
}

.intro__title > span{
    color: #FF9900;
}
.intro__title:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 53px auto 0;
    color: #fff;
}
.Intro__suptitle{
/*    padding-top: 53px;*/
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    color: #A8A8A8;
}
.Intro__suptitle:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 60px auto 0;
    color: #fff;
}
.btn{
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(253.41deg, #FF9900 40.41%, #FFE485 110.16%);
    border-radius: 13px;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    padding: 26px 75px;
}
.btn:hover{
    background: linear-gradient(253.41deg, #FF9900 40.41%, #ffffff 110.16%);
    border-radius: 13px;
}

/*
.intro:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 250px auto 0;
    color: #fff;
}
*/
/* cities */

.cities{
    height: 103vh;
/*
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 50px;
*/
/*    padding: 5px 0;*/
}
.cities__inner{
    width: 100%;
    max-width: 1102px;
    margin: 0 auto;
}
.cities__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    text-align: center;
}
.containerone__cities{
    display: flex;
    justify-content: space-between;
}
.containertwo__cities{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.cities__title:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 50px auto 0;
    color: #fff;
}
.container__cities{
    box-sizing: border-box;
    background: linear-gradient(253.41deg, rgba(255, 153, 0, 0.135) 40.41%, rgba(255, 228, 133, 0) 110.16%);
    border: 4px solid #D65A00;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
/*    width: 350px;*/
/*    padding: 20px 45px;*/
}
p{
    margin: 0;
}
.cities__price{
    padding-top: 29px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}
.cities__text{
/*    padding: 40px 56px;*/
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.cities__text > span{
    color: #B7B5B0;
    padding-top: 5px;
}
.city1{
    padding: 28px 40px 56px 48px;
}
.city2{
    padding: 28px 18px 56px 34px;
}
.city3{
    padding: 28px 21px 56px 20px;
}
.city4{
    padding: 28px 17px 33px 16px;
}
.city5{
    padding: 28px 37px 88px 36px;
}

/*limits*/
.limits{
    padding-top: 150px;
}
.limits__inner{
    width: 100%;
    max-width: 816px;
    margin: 0 auto;
}
.limits__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}
.limits__subtitle{
    padding: 110px 0 314px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #A8A8A8;
}
.limits__subtitle > span{
    color: #FF9900;
}

/*footer*/

.footer{
    background-color: #0F0F0F;
}
.footer__inner{
    width: 100%;
    max-width: 1238px;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}

.footer__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.footer__title:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 40px auto 0;
    color: #fff;
}
.footer__join{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.footer__join:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 56px auto 0;
    color: #fff;
}
.footer__subtitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 2;
    color: #A8A8A8;
}
.footer__subtitle:after{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 48px auto 0;
    color: #fff;
}
.social{
    width: 100%;
    max-width: 340px;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}
/*
.vk{
    background: url("../images/vk.png")center no-repeat;
}
*/
.signin{
    width: 572px;
    height: 91px;
    box-sizing: border-box;
    border: 3px solid #FF9900;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;

}
.footer__number{
/*  margin: 33px 0 33px 0;*/
    font-size: 24px;
    font-weight: 600;
    font-family: "inter";
/*  padding-left: 33px; */
    left: 33px;
    position: relative;
    background: none;
    border: none;
    color: #A8A8A8;
}
.footer__number:focus-visible{
    outline: none;
}
/*.footer__number::placeholder{*/
/*  position: relative;*/
/*  left: 33px;*/
/*}*/
.signinbtn{
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(253.41deg, #FF9900 40.41%, #FFE485 110.16%);
    border-radius: 13px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    width: 241px;
    height: 60px;
    margin-right: 16px;
/*  padding-right: 16px;*/
/*  padding: 14px 25px;*/
/*  margin: 16px 16px 16px 0;*/
    border: none;
    align-self: center;
}
/*.signinbtn*/
/*:is input:valid{*/
/*  background: linear-gradient(253.41deg, #fffddf 40.41%, #FFE485 110.16%);    */
/*}*/
 /* .signin{
    box-sizing: border-box;
    border: 3px solid #FF9900;
    border-radius: 13px;
    position: relative;
    display: grid;
    /* flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center; 
} */
/* .signin > input{
    box-sizing: border-box;
    border: 3px solid #FF9900;
    border-radius: 13px;
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-content: center; 
    text-align: left;
    /* width: 572px;
    height: 91px; 
    background: #313136;
    /* padding-left: 126px; 
    color: rgb(255, 255, 255 / 96%);
    border-radius: 20px;
    border: 0;
    font-size: 16px;
    transition: 0.3s;
} */
/* .signinbtn{
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(253.41deg, #FF9900 40.41%, #FFE485 110.16%);
    border-radius: 13px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    padding: 14px 25px;
    margin: 16px;
} */
/*
.signin > input{
    box-sizing: border-box;
    border: 3px solid #FF9900;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* width: 572px;
    height: 91px;
    background: #313136;
    padding-left: 126px;
    color: rgb(255, 255, 255 / 96%);
    border-radius: 20px;
    border: 0;
    font-size: 16px;
    transition: 0.3s; 
}
.signin > label{
    position: absolute;
    display: grid;
    place-items: center;
    transform-origin: 0% 0%;
    pointer-events: none;
    top: 4px;
    left: 4px;
    height: 52px;
    width: 110px;
    border-radius: 27px;
    background: #5071fa;
    transition: 0.3s;
}
.signin input::placeholder{
    color: #A8A8A8;
}
.signin
:is(input:hover, input:valid) {
    padding-left: 20px;
}
.signin
:is(input:hover, input:valid)
~ label{
    translate: 0 -54px;
    scale: 0.825;
} */
    
/*Background*/
.ellipse__background__one{
    position: fixed;
    width: 660px;
    height: 660px;
    left: 696px;
    top: 119px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 199, 0, 0.36) 99.99%, rgba(255, 255, 255, 0.36) 100%);
    filter: blur(200px);
}
.ellipse__background__two{
    position: fixed;
    width: 660px;
    height: 660px;
    left: -108px;
    top: -293px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.36) 99.99%, rgba(255, 255, 255, 0.36) 100%);
    filter: blur(200px);
}

.ellipse__background__three{
    position: fixed;
    width: 660px;
    height: 660px;
    left: 1178px;
    top: 941px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.36) 99.99%, rgba(255, 255, 255, 0.36) 100%);
    filter: blur(200px);
}
.ellipse__background__four{
    position: fixed;
    width: 424px;
    height: 424px;
    left: 152px;
    top: 847px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 138, 0, 0.3) 99.99%, rgba(255, 255, 255, 0.3) 100%);
    filter: blur(200px);
}
.ellipse__background__five{
    position: fixed;
    width: 660px;
    height: 660px;
    left: 846px;
    top: 1840px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 199, 0, 0.36) 99.99%, rgba(255, 255, 255, 0.36) 100%);
    filter: blur(200px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}